@{
    ViewData["Title"] = "Home Page";
}
<a href='@Url.Action("SelectIndumentaria")'>Agregar Indumentaria</a>

@foreach (var item in ViewBag.DicEquipos.Keys)
{
    
 <p>@item</p>
 <div class="final">
    <img src="/img/@ViewBag.DicEquipos[item].Camiseta"/>
    <img src="/img/@ViewBag.DicEquipos[item].Pantalon"/>
    <img src="/img/@ViewBag.DicEquipos[item].Medias"/>
 </div>


}

