
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.ropa img{
  border: 1px coral;
  height: 9%;
  width: 9%;

}

.final img{
  height: 300px;
  width: 300px;
  justify-content: center6;

}

.final {
  height: 20%;
  width: 100%;
}